.secret {

    padding: $top60 0;
    background: $stag-beetle;

    &-inner {
        padding: 0 1em;
    }

    &__title {
        color: $winter;
    }

    &__breadcrumb {
        margin-top: 3.75em;

        & > span, & > span > a, & > i {
            color: $winter;
        }
    }

    &__wrapper {
        margin-top: 1.75em;
        padding: 2em 1em;
    }

    &__main-txt {
        margin-bottom: 1.25em;
        line-height: 1.5;
        font-size: 1.5rem;
        color: $winter;
        text-align: center;

        @include mq(md) {
            font-size: 1.125rem;
        }

        @include mq(sm) {
            font-size: 0.875rem;
        }
    }

    &__footer {
        margin-top: 5rem;
    }

    &__btn {
        margin: 4em 0;
        text-align: center;

        & > a {
            background-color: #0090ff;
            padding: 1em 5em;
            color: $stag_beetle;
            border: 2px solid $winter;
            border-radius: 3px;
            font-weight: bold;
            outline: none;
            transition: all ease .3s;
            cursor: pointer;

            @include mq(sm) {
                padding: 1em 1em;
            }

            &:hover {
                background-color: $winter;
                color: #0090ff;
                transition: all ease .3s;
            }
        }
    }

    &__trap {
        margin: 800px 0 5000px 0;
    }
}