.blog {
    margin-top: $top60;

    &-inner {
        padding: 0 1em;
    }

    &__title {
        margin-bottom: $top60;
    }

    &-items {
        display: flex;
        align-items: flex-start;
        margin-top: $top60;

        @include mq(md) {
            display: block;
        }
    }

    &__wrapper {
        width: 65.45455%;

        @include mq(md) {
            width: 100%;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;

        @include mq(md) {
            width: 100%;
        }
    }

    &__card {
        width: calc(50% - 30px * 2 / 3);
        margin-right: 30px;
        margin-bottom: 30px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 3px 0 rgba(0, 0, 0, 0.22);
        transition: all ease .5s;

        &:hover {
            box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
            transform: translateY(-8px);
            transition: all ease .5s;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }

        @include mq(md) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        &__link {
            display: block;
        }

        &__img {
            > img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        &__body {
            padding: 20px;
        }

        &-meta {
            display: flex;
            align-items: center;

            & > a:nth-child(2) {
                margin-right: 1em;
                padding: 0.625em;
                font-size: .8rem;
                background-color: #0090ff;
                color: $winter;

                &:hover {
                    opacity: .4;
                    transition: all ease .5s;
                }
            }
        }

        &__time {
            color: #707070;

            &::before {
                margin-right: 0.5em;
                font-family: "Font Awesome 5 Free";
                font-size: 1rem;
                font-weight: 900;
                content: "\f017";
            }
        }

        &__title {
            margin-top: 1em;
            line-height: 1.25;
            color: $stag-beetle;
            font-size: 1.25rem;
        }
    }

    &__pagenation {
        text-align: center;
    }
}